@import "tailwindcss";


@theme {
  --color-darkblack: #121212; /* Primary Background (Near Black) */
  --color-darkgray: #282828; /* Secondary Background / UI Elements (Dark Gray) */
  --color-electricblue: #007bff; /* Electric Blue Accent */
  --color-brightred: #E50914; /* Bright Red Accent */
  --color-vibrantpurple: #8A2BE2; /* Vibrant Purple Accent */
  --color-tealcyan: #20c997; /* Teal/Cyan Accent */
  --color-primary: #FFFFFF; /* Primary Text Color (White) */
  --color-secondary: #CCCCCC; /* Secondary Text Color (Light Gray) */
};

@font-face {
  font-family: Future;
  src: url('./Fonts/FuturaCyrillicBook.ttf');
}

@font-face {
  font-family: Mentimun;
  src: url('./Fonts/Mentimun.otf');
}

@font-face {
  font-family: PlayFair;
  src: url('./Fonts/PlayfairDisplay-Regular.ttf')
}

@font-face {
  font-family: Realce;
  src: url('./Fonts/Realce-Black.otf');
}